body{
    width: 375px;
    background-color: #E5E5E5;
}

.top{
    width: 100%;
    background-color: #FFFFFF;
    height: 80px;
    padding-top: 20px;
    
    
}

.top-icons{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 0 24px 0 22px; 
    background-color: #FFFFFF;
}

.top-icons img {
    width: 80px;
    height: 56px;
}

.top-icons ion-icon{
    width: 58px;
    height: 42px;
}

.content{
    box-sizing: border-box;
    padding-top: 26px;
}

.messages{
    background-color: #E5E5E5;
    overflow-y: scroll;
    
}

span{
    padding: 9px;
    
}

.time{
    height: 40px;
    width: 65px;
    display: flex;
    align-items: center;
    color: #AAA;
}

.text{
    width: 100%;
    min-height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
}
.message{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-x: scroll;
}

.message::-webkit-scrollbar{
    display: none;
}

.systemMessage{
    background: #DCDCDC;
    border-radius: 2px;
}

.publicMessage{
    background: #FFFFFF;
    border-radius: 2px;
}

.privateMessage{
    background: #FFDEDE;
    border-radius: 2px;
}

.bottom{
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-itens{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: left;
    padding: 0 27px 0 17px; 
}

input{
   width: 145px;
    height: 30px;
    left: 17px;
    top: 612px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    border: none;
}

input::placeholder{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}

.bottom-itens ion-icon{
    width: 30px;
    height: 30px;
    
}

.user{  
    font-weight: bold;
    margin: 0 3px;
}